@model Customer

@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create">
    @Html.HiddenFor(x => x.customer_number)
    <div class="row">
        <div class="col-md-12">
            <h1>Create</h1>

            <h4>Customer</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>

    @{
        await Html.RenderPartialAsync("_customerFormFieldsPartial", Model);
    }
    


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }

        </div>
    </div>
</form>

