@model Customer

@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-md-12">
        <h1>Detail</h1>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_DetailPartial", Model);
}


<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customer_number }) |
    <a asp-action="Index">Back to List</a>
</div>
